* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

body {
    background-color: rgba(254, 251, 233);
}

h1,
.description,
.form-container {
    text-align: center;
}

.title {
    font-size: 48px;
    color: rgba(24, 58, 29, .8);
}

.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 100vw;
    margin: 0;
}

.description,
.form-description {
    font-size: 24px;
}

.title,
.description {
    margin: 20px 20px;
}

.form-for-adding-books {
    display: grid;
    justify-content: center;
    grid-template-columns: 1 / 3;
    margin: 16px 16px;
    font-size: 20px;
    gap: 15px;

}

.book-title {
    grid-column: 1 / 2;
}

.book-author {
    grid-column: 2 / 3;
}

.book-submit-button {
    width: 100px;
    height: 30px;
    font-size: 16px;
    font-weight: 500;
    border-radius: 3px;
    background-color: rgba(24, 58, 29, .6);
    border: none;
    color: rgb(223, 231, 223);
}


#container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.card-body {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    height: 300px;
    width: 400px;
    margin: 20px;
    padding: 10px;
    font-size: 20px;
    border: 1px solid #2b6777;
    border-radius: 4px;
    background-color: #c8d8e4;
}

.card-body p {
    line-height: 24px;
}

.card-header {
    font-weight: 600;    
}


/* Temporarily adding styles */

fieldset {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 6px;
}

.user-book-status {
    width: 16px;
}

.book,
.book-submit-button {
    margin: 16px;
}

input {
    width: 250px;
}

.delete-btn {
    display: flex;
    align-items: center;
    width: 100px;
    font-size: 16px;
    font-weight: 600;
    background-color: rgba(24, 58, 29, .6);
    border-radius: 4px;
    border: none;
    padding: 8px;
}

